@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
	}
}

@layer base {
	@font-face {
		font-family: 'Arizona';
		src: local('Arizona'), url('/fonts/Arizona/Arizona-Regular.ttf');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}
}
